html{

  height: 100%;

}

.col{
    position: relative;
    
    left: 50% !important;

    transform: translateX(-50%);
    

}

.blink{
    text-align: right;
   
}

.blink:after {
    animation: blink-empty 1s infinite;
    border-left: transparent solid  1px;
    border-radius: 50px;
   

    content:'';
  }
  @keyframes blink-empty {
    50% {border-left: 1px solid gray;}
  }

  .keyboard{
    position: fixed;
    bottom: 0px;
    width: 100%;
    
    left: 0px !important;
    transition: all 0.4s ease;

  animation: slide .7s ease;
    
    padding: 0px 0px!important;
    margin: 0px !important;
    
    

  }

  @keyframes hideKey{

    100%{
      
      transform: translateY(85%);
     
     

    }


  }

  @keyframes showKey{

    0%{

      transform:  translateX(-500vw);
  
    }
  
    60%{
   
      transform: translateX(0px);
  
    }

  }

  .keyboardCol{

    bottom: 0px;
    margin: 0px !important;
    left: 0px;
    padding: 0px 0px!important;

    height: 100%;
 
  }


  .keyboard table{
    
  width:100%;
  table-layout: fixed;
  border-radius: 10px !important;
  left: 0px;
  border-collapse: collapse !important;
  bottom: 0px;
  border: none;
  
  
    
    
}

.navBarConversions tbody {
  border-bottom: 1px solid #e0e0e0 ;
}


.keyboard h4{
   
    font-size: 20px;
    margin: 0px !important;
    
    
}
 tr{

    border-bottom: none;
}



.wavesBtn{
  padding: 2.5vh;
  width: 100%;
  height: 100%;

}

h4:hover{

  -webkit-box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: inset  0 0px 100px  rgba(255, 255, 255, 0.055);

}
.input td{
  
 
  color: black;
  right: 0px;

}

.input {
  position: relative;
  width: 95% !important;


}
.invTrue{

  display: none;

}

.show{

  display: table-row;

}

.hide{

  display: none;

}

.invPress{
  -webkit-box-shadow: 0 3px 3px  rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
  box-shadow: inset  0 0px 100px  rgba(255, 255, 255, 0.055);
}

.input h2{


}

.input tr{
  
  
  width: 100%;
}

.calculadora{

  transition: all 0.4s ease;

  animation: slide .7s ease;

}

.conversiones{

    		
  display: none;

  transition: all 0.4s ease;

  animation: slide .7s ease;

}

@keyframes slide{

  0%{

    transform:  translateX(-500vw);

  }

  60%{
 
    transform: translateX(0px);

  }



}
.keyboard td{

  margin: 0px !important;
    padding: 0px 0px !important;
    border-radius: 0px !important;
    border: none;
  
    text-align: center;
    width: 100%;
    color: white;
    

}