*{

	margin: 0;
	padding: 0;

	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



#calcular{
	display: block;

}

#aprender{
	display: none;
}

#ayuda{
	display: none;
}

#formularios{
	display: none;

	
}



	iframe{



	width:100%;

	height: 500px;


}



.formularios{

	overflow: visible;

	margin: 10px;
}

.formularios ul li{

	list-style: none;

	margin:	15px 10px;

	padding: 10px 0;

	border-bottom: 1px solid #e8e8e8;
}

.formularios h2{

	list-style: none;

	margin:	1px 10px;

	border-bottom: 1px solid #e8e8e8;
}

.aprender{

	overflow: visible;

	margin: 10px;
}

.aprender ul li{

	list-style: none;

	margin:	15px 10px;

	padding: 10px 0;

	border-bottom: 1px solid #e8e8e8;
}

.aprender h2{

	list-style: none;

	margin:	1px 10px;

	border-bottom: 1px solid #e8e8e8;
}

.ayuda {
	
	overflow: visible;

	margin-bottom: 100px;	
	
}

.ayuda ul li{

	list-style: none;

	margin:	15px 10px;

	padding: 10px 0;

	border-bottom: 1px solid #e8e8e8;
}

.ayuda h2{

	list-style: none;

	margin:	1px 10px;

	border-bottom: 1px solid #e8e8e8;
}


.top_nav{

	margin: 0;

	width: 100%;

	padding: 0 50px;

	background: #434344;

	box-sizing: border-box;

	display: none;
}

.top_nav h1{

	color: white;

	margin: 0;

	padding: 15px 20px;

	float: left;
}

.top_nav ul{

	margin: 0;

	padding: 0;

	float: right;

}

.top_nav ul li{

	list-style: none;

	display: inline-block;

	margin: 0;

	padding: 20px 30px;

	transition: .5s;
}

.top_nav ul li a{

	margin: 0;

	color: #fff;

	text-decoration: none;
}

.top_nav ul li:hover{

	background: #f78080;

}

.content{

	margin: 10px;
}

.content p{

	margin: 10px;

	font-size: 4vw;

}

.content table{

	margin: 10px;

}

.content input{

	margin: 10px;
}


.content ul li{



	list-style: none;

	margin:	15px 10px;

	padding: 10px 0;

	border-bottom: 1px solid #e8e8e8;
}

.content ul li a {

	position: relative;

	width: 100%;

	color: black;
}

a{

	text-decoration: none;
}


.responsive-bar{

	display: none;

	width: 100%;

	background: #434344;

	padding: 10px 30px;

	box-sizing: border-box;

}

.responsive-bar h3{

	margin: 0;

	padding: 3px 0;

	color: #fff;

	float: left;

}

.responsive-bar h4{

	margin: 0;

	padding: 5px 10px;

	color: #fff;

	float: right;

	background: #f78080;

}

@media(min-width: 899px){

	.top_nav{

		display:block !important;
	}

}

@media(max-width: 900px){



	.bottom_nav{

		display: initial;

		font-size: 3vw;
	}

	.content h1{

	font-size: 5vw;

	}

	.content ul li{

		font-size: 4vw;


	}



	.ayuda h1{

		font-size: 5vw;

	}

	.ayuda ul li{

		font-size: 4vw;


	}

	.ayuda h2{

		font-size: 4.5vw;
	}

	.aprender h1{

		font-size: 5vw;

	}

	.aprender ul li{

		font-size: 4vw;


	}

	.aprender h2{

		font-size: 4.5vw;
	}


	.formularios h1{

		font-size: 5vw;

	}

	.formularios ul li{

		font-size: 4vw;


	}

	.formularios h2{

		font-size: 4.5vw;
	}
	.top_nav{

		display: none;
	}

	.responsive-bar{

		display: block;
	}

	.top_nav h1{

		display: none;

		float: none;

	}

	

	.top_nav ul{

		float: none;
	}

	.top_nav ul li{


		text-align: center;

		display: block;
	}
}

.responsive-bar a{

	color: #fff;
}

nav a {

	width: 100%;

	color: #fff;
}



input{

	margin: 10px 10px;
}

p{
	margin-left: 10px;
}



#triangulo{

	margin: 0;

	position: relative;

	float: right;

	height: auto;

	width: 40%;



}

@media(max-width: 320px){

	.bottom_nav{

		display: initial;

		font-size: 3vw;
	}

	#triangulo{

		position: relative;

		float: left;

		margin: 10px 0;
	}

	#leg_y{

		margin-top: 130px;

		margin-right: 120px;
	}

}

td{

	margin: 0;

	padding-left: 10px;

	padding-right: 10px;

	border: 1px solid black

}

tr{

	border: 1px solid black;
}